/*general*/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/*debug header*/
.debug .hparte1{
    background-color: skyblue;
    min-height: 70px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.debug .titoli {
    background-color: blanchedalmond;
    border: 2px dotted black;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}

.debug .titolino{
    min-width: 300px;
}

.debug .titolone{
    min-width: 600px;
    text-align: center;
}

.debug .hparte2{
    background-color: blue;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid cyan;
}

.debug .controsa{
    background-color: plum;
    min-height: 500px;
    border: 3px dotted black;
    min-width: 1000px;
}

/*debug main*/

.debug .main1{
    background-color: white;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debug .main2{
    background-color: lightgray;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debug .mb1{
    border: 3px dotted black;
    min-height:500px;
    min-width: 600px;
    background-color: cyan;
}

.debug .mr1{
    border: 3px dotted black;
    min-height:500px;
    min-width: 400px;
    background-color: pink;
}
.debug .mb2{
    border: 3px dotted black;
    min-height:500px;
    min-width: 600px;
    background-color: pink;
}

.debug .mr2{
    border: 3px dotted black;
    min-height:500px;
    min-width: 400px;
    background-color: cyan;
}
.debug .mv1{
    background-color: green;
    min-height: 700px;
    border: 3px dotted black;
    min-width: 1000px;
}
.debug .main3{
    background-color: lightgray;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*debug footer*/

.debug .f1{
    background-color: #333333;
}

.debug .bordofooter{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;

}

.debug .creditsrosa{
    border: 3px dotted black;
    min-height:500px;
    min-width: calc(1050px / 4);
    background-color: pink;
}

.debug .creditsblu{
    border: 2px dotted white;
    min-height:500px;
    min-width: calc(1050px / 6);
    background-color: cyan;
}


.debug .f2{
    background-color: #333333;
    min-height: 100px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.debug .footerfinale{
    display: flex;
    justify-content:center;
}

.debug .contenitorefinale{
    min-height:70px;
    min-width: 1000px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.debug .bottone{
    min-height: 30px;
    min-width: auto;
    background-color: pink;
}
 
.debug .logo2{
    min-height: 30px;
    min-width: auto;
    background-color: pink;
}
/*Header*/

.login{
    border-left: 3px dotted black;
    text-align: end;
}

.logo{
    border-right: 3px dotted black;
}

ul {
    list-style-type: none;
}

/*Main*/

/*footer*/

.bordofooter{
    border-bottom: 2px solid white;;
}

.logo2{
    border: 3px dotted black;
}

.bottone{
    border: 3px dotted black;
}